body, html {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: serif;
}

body {
    overflow-y: hidden;
    font: menu;
    color: #4a4a4a;
    background-color: #f9f9f9;
    line-height: 1.1;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.error-message p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.search-section {
    background-color: #660066;
    color: #f9f9f9;
    padding: 40px;
    text-align: center;
    font-size: 30px;
}

input[type=url] {
    width: 60%;
    color: #f9f9f9;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 20px;
    background-color: #660066;
    text-align: center;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=url]:focus {
    outline: 0em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 90%;
  }

  ::placeholder {
      color: #ccc;
  }

  ::placeholder:hover {
      color: #d3d3d3;
  }

.links {
    margin: 50px 0 0 15px;
    width: 96%;
    word-break: break-all;
    height: 200px;
    max-height: 400px;
    overflow-y: scroll;

}

.links p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.links h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.new-link-submit {
    background-color: #a400b3;
    color: #f9f9f9;
    border-radius: 15px;
    border: 0;
    padding: 12px 20px 12px 20px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.new-link-submit:focus {
    outline: 0em;
}

.new-link-submit:hover {
    background-color: #b300b3;
}

.new-link-submit:disabled {
    background-color: #800080;
    color: #d3d3d3;
}

.controls {
    float: right;
    margin: 10px;
}

.clear-storage {
    background-color: #a400b3;
    border-radius: 15px;
    border: 0;
    color: #f9f9f9;
    padding: 10px 18px 10px 18px;
    font-size: 12px;
    font-weight: 300;
}

.clear-storage:hover {
    background-color: #b300b3
}

.clear-storage:focus{
    outline: 0em;
}
.clear-storage:after {
    background-color: #800080;
}

.link-column {
    text-align: center;
    padding: 5px;
    float: left;
    width:45%;
}

.link-row:after {
    content: "";
    display: table;
    clear: both;
}

.link-row {
    border: 1px solid #ccc;
    border-radius: 5px;
}